/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #fff;
}

/* =========================
   HERO SECTION
========================= */
.hero {
    height: 100vh;
    background: url("./Images/home-bg-pizza.jpg") center/cover no-repeat;
    position: relative;
     color: #fff;
}
.light-hr{
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.15);
    width: 100%;
    margin: 20px auto;
}

/* OVERLAY */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.23);
}
/* home dropdown */
/* MEGA MENU WRAPPER */
.mega-menu{
    position:absolute;
    left:0;
    top:140%;
    width:100vw;
    background:#0c0c0c;
    padding:60px 80px;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:30px;
    opacity:0;
    visibility:hidden;
    transform:translateY(20px);
    transition:.4s ease;
    z-index:1000;
}

/* show on hover */
.home-item:hover .mega-menu{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

/* each demo card */
.demo-item{
    text-align:center;
    cursor:pointer;
    transition:.4s ease;
}

.demo-item img{
    width:100%;
    border-radius:8px;
    box-shadow:0 0 0 1px rgba(255,255,255,.08);
    transition:.4s ease;
}

/* hover effect */
.demo-item:hover img{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,.8);
}

/* title */
.demo-item span{
    display:block;
    margin-top:15px;
    color:#fff;
    font-size:13px;
    letter-spacing:1px;
}

/* dark overlay behind navbar */
.hero{
    position:relative;
    overflow:hidden;
}

/* NAVBAR */
.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.nav-left {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-left li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-right span {
    font-size: 14px;
    cursor: pointer;
}

.order-btn {
    padding: 8px 18px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
}

/* HERO CONTENT */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.welcome {
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.tagline {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* =========================
   PIZZA MENU SECTION
========================= */
.menu {
    min-height: 100vh;
    padding: 70px 80px;
    background:url(./Images/section-bg-6-large-4.jpg);
}

/* MENU HEADER */
.menu-header {
    text-align: center;
    margin-bottom: 120px;
}

.menu-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 3px;
}

.menu-header p {
    color: #c9a24d;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 14px;
}

/* MENU CONTENT */
.menu-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

/* PIZZA IMAGE */

.pizza-image img {
    width: 660px;
    height: 660px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 60px rgba(0,0,0,0.8);
  
}

/* DETAILS */
.pizza-details {
    max-width: 420px;
}

.pizza-details h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 1.9;
}

.desc {
    font-size: 16px;
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 35px;
}

/* PRICES */
.price-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.size {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 1px solid #555;
    padding: 14px 20px;
    width: 260px;
}

.size span {
    font-size: 13px;
    letter-spacing: 1px;
}

.size strong {
    font-size: 28px;
    font-weight: 500;
}


/* SECTION */
.pizza-section {
    min-height: 100vh;
    padding: 90px 100px;
    background:
        radial-gradient(circle at right, #111 35%, #000 70%);
}

/* CONTENT LAYOUT */
.pizza-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

/* TEXT */
.pizza-text {
    max-width: 450px;
}

.pizza-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-bottom: 18px;
}

.description {
    font-size: 16px;
    line-height: 1.9;
    color: #ccc;
    margin-bottom: 40px;
}

/* PRICE */
.price-area {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.size-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #555;
    padding: 14px 22px;
    width: 260px;
}

.size-box span {
    font-size: 13px;
    letter-spacing: 1px;
}

.size-box strong {
    font-size: 30px;
    font-weight: 500;
    overflow: auto;
}

/* IMAGE */
.pizza-image img {
    width: 660px;
    height: 660px;
    border-radius: 50%;
    object-fit: cover;
    justify-items: center;
    box-shadow: 0 0 70px rgba(0,0,0,0.9);
}

/* =========================
   FRESH PASTA SECTION
========================= */
.pasta {
    padding: 100px 70px;
    background:url("./Images/section-bg-6-large-4.jpg");
}

/* Header */
.pasta-header {
    text-align: center;
    margin-bottom: 80px;
}

.pasta-header .subtitle {
    color: #c9a24d;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}

.pasta-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    letter-spacing: 4px;
}

/* Grid */
.pasta-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
}

/* Card */
.pasta-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    display: block;
}

.pasta-card h3 {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

.pasta-card h3 span {
    color: #c9a24d;
}

.pasta-card p {
    font-size: 14px;
    color: #aaa;
    line-height: 1.7;
    margin-top: 12px;
}
/* À LA CARTE MENU SECTION */
.ala-carte {
    background:url(./Images/section-bg-6-large-4.jpg);
    padding: 120px 80px;
}

/* Header */
.ala-header {
    text-align: center;
    margin-bottom: 80px;
}

.small-title {
    color: #c9a24d;
    letter-spacing: 3px;
    font-size: 19px;
}

.ala-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    letter-spacing: 3px;
    margin-top: 10px;
}

/* Grid */
.ala-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.ala-left h2,
.ala-right h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.mt {
    margin-top: 60px;
}

/* Menu Item */
.menu-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.menu-item img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.menu-text {
    flex: 1;
    border-bottom: 1px dotted #555;
    padding-bottom: 10px;
    line-height: 28px;
}

.menu-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    
}

.menu-text p {
    font-size: 13px;
    color: #aaa;
}

.price {
    color: #fff;
    font-size: 14px;
}

/* Tags */
.tag {
    background: #c9a24d;
    color: #000;
    font-size: 10px;
    padding: 2px 6px;
    margin-left: 8px;
}

.tag.new {
    background: #ff6a00;
}

.tag.recommend {
    background: #ff6a00;
}

/* Buttons */
.ala-buttons {
    text-align: center;
    margin-top: 80px;
}

.btn-primary {
    background: #ff6a00;
    color: #fff;
    padding: 14px 30px;
    border: none;
    margin-right: 15px;
}

.btn-outline {
    background: transparent;
    color: #fff;
    padding: 14px 30px;
    border: 1px solid #fff;
}


/*VIDEO SECTION*/
.video-section {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background: #000;
}

/* Poster Image */
.video-poster {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Video hidden initially */
.video-player {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    z-index: 2;
}

/* Play Button */
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    text-decoration: none;
}

/* WHEN TARGET IS ACTIVE */
#play:target ~ .video-poster {
    display: none;
}

#play:target ~ .video-player {
    display: block;
}

#play:target ~ .play-btn {
    display: none;
}

/* Nutrition and Taste */
/*QUANTITY*/

/* SECTION */
.food-section {
    padding: 120px 80px;
    background:url(./Images/section-bg-6-large-4.jpg);
}

.food-container {
    max-width: 1400px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LEFT CONTENT */
.food-content {
    max-width: 520px;
}

.small-heading {
    display: flex;
    align-items: center;
    gap: 18px;
    color: #d4a24c;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.small-heading span {
    width: 60px;
    height: 1px;
    background: #d4a24c;
}

.food-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 30px;
    color:white;
}

.food-content p {
    font-size: 15px;
    line-height: 1.9;
    color: #ccc;
    margin-bottom: 22px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 34px;
    background: #e56717;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #c95512;
}

/* RIGHT IMAGES */
.food-images {
    position: relative;
    width: 660px;
    height: 628px;
}

.img {
    position: absolute;
    object-fit: cover;
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

.img-big {
    width: 412px;
    height: 550px;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-small {
    width: 380px;
    height: 550px;
    bottom: 0;
    right: 0;
    z-index: 2;
}
/* Visit Your Restaurant */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #000;
}

/* SECTION */
.visit-section {
  min-height: 100vh;
  background: #0b0b0b url("./Images/section-bg-6-large-4.jpg") repeat;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
}

/* MAIN WRAPPER */
.visit-container {
  width: 1200px;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* IMAGES */
.visit-images {
  display: flex;
  gap: 30px;
}

.visit-images img {
  width: 320px;
  height: 460px;
  object-fit: cover;
}

/* CONTENT */
.visit-content {
  max-width: 420px;
  color: #fff;
}

.label {
  font-size: 18px;
  letter-spacing: 2px;
  color: #d9a441;
  display: inline-block;
  margin-bottom: 18px;
  position: relative;
}

.label::after {
  content: "";
  width: 50px;
  height: 1px;
  background: #d9a441;
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.visit-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.visit-content p {
    font-family: "Playfair Display", serif;
  font-size: 18px;
}

.desc {
  font-size: 15px;
  line-height: 1.7;
  color: #bfbfbf;
  margin-bottom: 22px;
}

.address,
.contact {
  font-size: 14px;
  color: #bfbfbf;
  margin-bottom: 6px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 34px;
  background: #e45b00;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
}

/*Footer*/
.footer{
    background:url("./Images/section-img-6.jpg") center/cover no-repeat;
    min-height:90vh;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
}

.footer::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.7);
}

.footer-content{
    position:relative;
    padding:80px 8%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:60px;
}

/* LEFT */
.opening h3{
    letter-spacing:2px;
    margin-bottom:25px;
}
.opening p{
    line-height:2;
    opacity:.8;
}

/* CENTER */
.center{
    text-align:center;
}
.center h1{
    font-family:'Playfair Display',serif;
    letter-spacing:3px;
    font-size:40px;
}
.center span{
    display:block;
    font-size:14px;
    letter-spacing:3px;
    margin-bottom:20px;
}
.center p{
    opacity:.8;
    line-height:1.8;
}

.socials{
    margin-top:30px;
}
.socials i{
    margin:0 10px;
    font-size:18px;
    opacity:.7;
}

/* RIGHT */
.newsletter h3{
    margin: bottom 20px;
    letter-spacing:2px;
}
.newsletter input{
    width:100%;
    background:none;
    border:none;
    border-bottom:1px solid #aaa;
    padding:10px 0;
    color:#fff;
    margin-bottom:15px;
}
.newsletter label{
    font-size:13px;
    opacity:.8;
    text-align: left;
}
.check-row{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:13px;
    color:rgba(255,255,255,0.8);
    cursor:pointer;
}

.check-row input{
    width:16px;
    height:16px;
}


/* bottom bar */
.footer-bottom{
    position:relative;
    border-top:1px solid rgba(255,255,255,0.2);
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    font-size:13px;
    opacity:.7;
}

.footer-bottom a{
    color:#fff;
    text-decoration:none;
    margin:0 10px;
}
/* =====================
   RESPONSIVE CSS
===================== */
/* =====================================
   RESPONSIVE – LAPTOP (max 1200px)
===================================== */
@media (max-width: 1200px) {

    .menu-content {
        gap: 60px;
    }

    .pizza-image img {
        width: 520px;
        height: 520px;
    }

    .food-container {
        gap: 60px;
    }

    .visit-container {
        width: 100%;
        padding: 0 40px;
    }

    .pasta-grid {
        gap: 40px;
    }
}

/* =====================================
   RESPONSIVE – TABLET (max 992px)
===================================== */
@media (max-width: 992px) {

    /* NAVBAR */
    .navbar {
        padding: 20px 30px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .nav-right {
        display: none;
    }

    /* HERO TEXT */
    .hero-content h1 {
        font-size: 60px;
    }

    /* MEGA MENU */
    .mega-menu {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }

    /* PIZZA SECTION */
    .menu-content {
        flex-direction: column;
        text-align: center;
    }

    .pizza-image img {
        width: 420px;
        height: 420px;
    }

    .price-box {
        align-items: center;
    }

    /* PASTA */
    .pasta-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ALA CARTE */
    .ala-grid {
        grid-template-columns: 1fr;
    }

    /* FOOD SECTION */
    .food-container {
        flex-direction: column;
        margin: 0;
        gap: 60px;
        text-align: center;
    }

    .food-images {
        width: 100%;
        height: auto;
        position: static;
    }

    .img,
    .img-big,
    .img-small {
        position: static;
        width: 100%;
        height: auto;
    }

    /* VISIT SECTION */
    .visit-container {
        flex-direction: column;
        gap: 60px;
        text-align: center;
    }

    .visit-images {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* CHEFS */
    .chef-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* FOOTER */
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

/* =====================================
   RESPONSIVE – MOBILE (max 576px)
===================================== */
@media (max-width: 576px) {

    /* HERO */
    .hero {
        height: 90vh;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .tagline {
        font-size: 14px;
    }

    /* NAVBAR */
    .nav-left {
        display: none;
    }

    .logo {
        font-size: 36px;
    }

    /* MEGA MENU */
    .mega-menu {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    /* MENU */
    .menu {
        padding: 60px 20px;
    }

    .menu-header h1 {
        font-size: 36px;
    }

    .pizza-image img {
        width: 300px;
        height: 300px;
    }

    .size {
        width: 100%;
    }

    /* PASTA */
    .pasta {
        padding: 60px 20px;
    }

    .pasta-header h1 {
        font-size: 42px;
    }

    .pasta-grid {
        grid-template-columns: 1fr;
    }

    /* ALA CARTE */
    .ala-carte {
        padding: 60px 20px;
    }

    .ala-header h1 {
        font-size: 42px;
    }

    /* VIDEO */
    .video-section {
        height: 50vh;
    }

    /* FOOD */
    .food-section {
        padding: 60px 20px;
    }

    .food-content h2 {
        font-size: 38px;
    }

    /* VISIT */
    .visit-images img {
        width: 100%;
        height: auto;
    }

    .visit-content h2 {
        font-size: 36px;
    }

    /* CHEFS */
    .chef-grid {
        grid-template-columns: 1fr;
    }

    /* FOOTER */
    .footer {
        min-height: auto;
    }

    .footer-content {
        padding: 60px 20px;
    }
}
